<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration page</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/css/global/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login/registration.css}" />

<script type="text/javascript"
	th:src="@{/js/global/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/global/bootstrap.min.js}"></script>

</head>
<body>
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            
            <div class="col-xl-6">
            <form action="" method="post">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">User registration form</h3>
			  
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <label class="form-label" for="form3Example1m">First name</label>
                      <input type="text" id="form3Example1m" class="form-control form-control-lg" />
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    <label class="form-label" for="form3Example1n">Last name</label>
                      <input type="text" id="form3Example1n" class="form-control form-control-lg" />
                      
                    </div>
                  </div>
                </div>
                
                <div class="form-outline mb-4">
                <label class="form-label" for="form3Example97">Email ID</label>
                  <input type="text" id="form3Example97" class="form-control form-control-lg" />
                  
                </div>
                
                <div class="form-outline mb-4">
                <label class="form-label" for="form3Example97">Password</label>
                  <input type="password" id="form3Example97" class="form-control form-control-lg" />
                  
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg">Reset all</button>
                  <button type="button" class="btn btn-warning btn-lg ms-2">Submit form</button>
                </div>

              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>