nav.navbar.navbar-expand-lg {
	background: #563D7C !important;
	padding: 10px 15px 0px 15px;
}

ul.navbar-nav.flex.justify-content-end {
    flex: auto !important;
}

.header_logo_img {
	width: 50px;
}

a.nav-link {
    color: white !important;
}

li.nav-item.active {
    border-bottom: 5px solid #b638e8;
}

ul.dropdown-menu.dropdown-menu-end.show {
    left: -73px !important;
    top: 50px;
    background: #563D7C;
}

ul.dropdown-menu.show {
    top: 50px;
    background: #563D7C;
}

li.nav-item {
    padding: 0px 10px;
}

a.dropdown-item {
    color: white;
}

nav.navbar.navbar-expand-lg {
    line-height: 1.9;
}
.user_profile_i {
	font-size: 20px;
}

.user_menu_i {
	margin-right: 0.5rem !important;
}